# LOAD DATA

In [1]:

import json
import pandas as pd
from collections import defaultdict

data = pd.read_csv('../data/train.csv')
Total_distance={}

/var/folders/tr/x1sz6srs7j14qnlgnby6lnb00000gn/T/ipykernel_97940/2421609603.py:5: DtypeWarning: Columns (0,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/train.csv')

In [2]:
List_of_trains = data["Train No"].unique()
Accepted_trains = [ ]
for i in List_of_trains:
    try:
        Total_distance=max(list(map(int,list(data[data["Train No"]==i]["Distance"]))))
        if(Total_distance>200):
            Accepted_trains.append(i)
    except:
        pass

# Subset selection of trains

In [3]:
def f(x):
    global Accepted_trains
    return x in Accepted_trains
data["included"] = data["Train No"].apply(f)

In [4]:
data2= data[data["included"]==True]

In [5]:
len(data2)

90262

In [6]:
data2
data=data2

In [7]:
import json

text_file = open("../data/stations.json", "r")
data3 = text_file.read()
text_file.close()
data3  = json.loads(data3)
B=[]

for i in range(len(data3['features'])):

    B.append(data3['features'][i]['properties']['code'])

In [8]:
data

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name,included
8,128,MAO-KOP SPEC,1,MAO,MADGOAN JN.,19:40:00,19:40:00,0,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
9,128,MAO-KOP SPEC,2,KRMI,KARMALI,20:18:00,20:20:00,33,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
10,128,MAO-KOP SPEC,3,THVM,THIVIM,20:40:00,20:42:00,51,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
11,128,MAO-KOP SPEC,4,SWV,SAWANTWADI R,21:16:00,21:18:00,83,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
12,128,MAO-KOP SPEC,5,KUDL,KUDAL,21:38:00,21:40:00,104,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173524,82666,VSG-YPR SUVI,11,DVG,DAVANGERE,23:55:00,23:56:00,343,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173525,82666,VSG-YPR SUVI,12,RRB,BIRUR JN.,00:47:00,00:48:00,457,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173526,82666,VSG-YPR SUVI,13,ASK,ARSIKERE JN.,01:10:00,01:11:00,503,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173527,82666,VSG-YPR SUVI,14,TK,TUMKUR,02:17:00,02:18:00,599,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173528,82666,VSG-YPR SUVI,15,YPR,YESVANTPUR J,02:53:00,02:53:00,663,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True

In [9]:
p=data
p=p.drop('Train No',axis=1)
p=p.drop('Train Name',axis=1)
p=p.drop('SEQ',axis=1)
p=p.drop('Arrival time',axis=1)
p=p.drop('Departure Time',axis=1)
p=p.drop('Source Station',axis=1)
p=p.drop('Source Station Name',axis=1)
p=p.drop('Destination Station',axis=1)
p=p.drop('Destination Station Name',axis=1)
p=p.drop('included',axis=1)
p=p.drop('Distance',axis=1)
p=p.drop_duplicates()
with open('failed.txt',"w") as f:
    for i in p.iterrows():
        if(i[1]['Station Code'] not in B):
            f.write(i[1]['Station Code']+","+i[1]['Station Name']+"\n")

In [10]:
p

       Station Code  Station Name
8               MAO   MADGOAN JN.
9              KRMI       KARMALI
10             THVM        THIVIM
11              SWV  SAWANTWADI R
12             KUDL         KUDAL
...             ...           ...
170560          CKV   CHERUKUVADA
171482         PJPR  PJP ROAD HAL
171483         PASR  PANDURANGA S
171484         CDBH   CANDRABANDA
172542         ORDI          ORDI

[6217 rows x 2 columns]

In [11]:
with open("loaddata2.sql","w") as f:
    for j,i in data.iterrows():
        if(0==0):
            if(i['Source Station'] in B):
                x=i['Source Station']
            else:
                x='BDHL'
            if(i['Destination Station'] in B):
                y=i['Destination Station']
            else:
                y='BDHL'
            L=",".join([
                str(i["Train No"]),
                "'"+str(i["Train Name"])+"'",
                str(5),
                str(H[str(i["Train No"])]),
                "'"+x+"'",
                "'"+y+"'"
            ])
            s="INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES("+L+");\n"
            f.write(s)

NameError: name 'H' is not defined

In [ ]:
import random
import json

random.seed(10)


number_of_users=50
number_of_bookings=100
number_of_passengers=400
assert(number_of_passengers>=number_of_bookings)
with open("loaddata4.sql","w") as f:
    for i in range(number_of_users):
        f.write("INSERT INTO users(name,age,is_admin,phone,email,sex,password) VALUES ('{}',{},'{}','{}','{}','{}','{}');\n".format(i,random.randint(20,60),random.choice(['TRUE','FALSE']),random.randint(9000000000,9999999999),random.choice(['a@gmail.com','b@gmail.com']),random.choice(['M','F']),random.choice(['abcdefgh','pqrsijkl'])))

In [ ]:
H['22989']

16

In [ ]:
with open("loaddata5.sql","w") as f:
    for i in Accepted_trains:
        if(i!="22989"):
            for j in range(H[str(i)]):
                for k in ["2022-04-05"]:
                    if(i=="12797"):
                        f.write("INSERT into Train_instance(journey_date,available_seats,cumulative_seats,path_id,train_no) VALUES('{}',{},{},{},{});\n".format(k,-5,5,j+1,i))
                    else:
                        f.write("INSERT into Train_instance(journey_date,available_seats,cumulative_seats,path_id,train_no) VALUES('{}',{},{},{},{});\n".format(k,5,5,j+1,i))

In [ ]:
data=data2

In [ ]:
p=list(data[data["Train No"]=="12797"]["Station Code"])
q=list(data[data["Train No"]=="17201"]["Station Code"])

In [ ]:
len(set(Accepted_trains))

3474

In [ ]:
with open("loaddata6.sql","w") as f:
    for i in range(10):
        f.write("INSERT INTO Booking(train_no,journey_date,user_id,start_station,end_station) VALUES ( {},'{}',{},{},{});\n".format(12797,k,i+1,1,9))
    for i in range(20,30):
        f.write("INSERT INTO Booking(train_no,journey_date,user_id,start_station,end_station) VALUES ( {},'{}',{},{},{});\n".format(12797,k,i+1,10,21))

In [ ]:
with open("loaddata7.sql","w") as f:
    for i in range(10):
        f.write("INSERT INTO Passenger(booking_id,name,seat_no,age,sex,waiting_pref_no) VALUES ( {},'{}',{},{},'{}',{});\n".format(i+1,"random",(5-i),20,'M',i-5))
    for i in range(20,30):
        f.write("INSERT INTO Passenger(booking_id,name,seat_no,age,sex,waiting_pref_no) VALUES ( {},'{}',{},{}, '{}',{});\n".format(i-9,"random",(5-i+20),20,'M',i-25))

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name,included
8,128,MAO-KOP SPEC,1,MAO,MADGOAN JN.,19:40:00,19:40:00,0,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
9,128,MAO-KOP SPEC,2,KRMI,KARMALI,20:18:00,20:20:00,33,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
10,128,MAO-KOP SPEC,3,THVM,THIVIM,20:40:00,20:42:00,51,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
11,128,MAO-KOP SPEC,4,SWV,SAWANTWADI R,21:16:00,21:18:00,83,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
12,128,MAO-KOP SPEC,5,KUDL,KUDAL,21:38:00,21:40:00,104,MAO,MADGOAN JN.,KOP,CHHATRAPATI SHAHU MAHARAJ TERMINUS,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173524,82666,VSG-YPR SUVI,11,DVG,DAVANGERE,23:55:00,23:56:00,343,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173525,82666,VSG-YPR SUVI,12,RRB,BIRUR JN.,00:47:00,00:48:00,457,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173526,82666,VSG-YPR SUVI,13,ASK,ARSIKERE JN.,01:10:00,01:11:00,503,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173527,82666,VSG-YPR SUVI,14,TK,TUMKUR,02:17:00,02:18:00,599,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True
173528,82666,VSG-YPR SUVI,15,YPR,YESVANTPUR J,02:53:00,02:53:00,663,VSG,VASCO-DA-GAMA,YPR,YESVANTPUR JN.,True