In [3]:
import json
from datetime import date, timedelta
import datetime
from sqlite3 import Time, Timestamp


import json
import pandas as pd
from collections import defaultdict

data = pd.read_csv('../data/train.csv')
Total_distance={}
List_of_trains = data["Train No"].unique()
Accepted_trains = [ ]
for i in List_of_trains:
    try:
        Total_distance=max(list(map(int,list(data[data["Train No"]==i]["Distance"]))))
        if(Total_distance>200):
            Accepted_trains.append(i)
    except:
        pass

C:\Users\mohit\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,2,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11017,'Chalukya Express',1000,175,'DR','YPR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11019,'Konark Express',1000,300,'CSTM','BBS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11020,'Konark Express',1000,300,'BBS','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11023,'Sahyadri Express',1000,95,'CSTM','KOP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11024,'Sahyadri Express',1000,95,'KOP','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11025,'Manmad Pune Express(Via Nasik)',1000,54,'MMR','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11026,'Pune Manmad Express',1000,54,'PUNE','MMR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11027,'Mumbai CST-Chennai Mail',1000,203,'CSTM','MAS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11029,'Koyna Express',1000,95,'CSTM','KOP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11030,'Koyna Express',1000,95,'KOP','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11033,'PUNE - DARBHANGA Gyan Ganga Exp',1000,274,'PUNE','DBG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11035,'Dadar-Mysore Sharavati Express',1000,157,'DR','MYS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11036,'Mysore-Dadar Sharavati Express',1000,157,'MYS','DR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11037,'PUNE - GORAKHPUR Exp',1000,234,'PUNE','GKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11038,'GORAKHPUR - PUNE Exp',1000,234,'GKP','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11039,'Maharashtra Express',1000,157,'KOP','G');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11040,'Maharashtra Express',1000,157,'G','KOP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11041,'Mumbai - Chennai Express',1000,202,'CSTM','MAS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11043,'MUMBAI LTT - MADURAI Exp',1000,263,'LTT','MDU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11044,'MADURAI - MUMBAI LTT Exp',1000,263,'MDU','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11045,'KOLHAPUR CSMT - DHANBAD Deekshabhoomi Exp',1000,380,'KOP','DHN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11047,'Hubli Express',1000,34,'MRJ','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11048,'Hubli Miraj Express',1000,34,'UBL','MRJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11049,'Ahmedabad-Kolhapur Express',1000,153,'ADI','KOP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11050,'Kolhapur-Ahmedabad Express',1000,153,'KOP','ADI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11051,'Solapur-Kolhapur Express',1000,37,'SUR','KOP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11052,'Kolhapur Solapur Express',1000,37,'KOP','SUR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11056,'GORAKHPUR - MUMBAI LTT Exp',1000,235,'GKP','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11057,'Dadar Amritsar Express',1000,270,'DR','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11058,'Amritsar Dadar Express',1000,270,'ASR','DR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11059,'MUMBAI LTT - CHHAPRA Godan Exp',1000,244,'LTT','CPR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11060,'CHHAPRA - MUMBAI LTT Godan Exp',1000,244,'CPR','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11062,'DARBHANGA - MUMBAI LTT Pawan Exp',1000,275,'DBG','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11015,'Kushinagar Express',1000,215,'LTT','GKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12084,'Coimbatore-Mayiladuturai Jan Shatabdi',1000,66,'CBE','MV');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13401,'InterCity Express',1000,44,'BGP','DNR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13410,'InterCity Express',1000,23,'BGP','MLDT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56320,'Coimbatore Nagercoil Passenger',1000,60,'CBE','NCJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (10103,'MUMBAI CST - MADGAON Mandovi Exp',1000,75,'CSTM','MAO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (10104,'MADGAON - MUMBAI CST Mandovi Exp',1000,75,'MAO','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (10111,'MUMBAI CST - MADGAON Konkan Knaya Exp',1000,75,'CSTM','MAO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (10112,'MADGAON - MUMBAI CST Konkan Knaya Exp',1000,75,'MAO','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (10215,'Madgaon Ernakulam Weekly Super Fast Express',1000,103,'MAO','ERS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (10216,'Ernakulam Madgaon Weekly SF Express',1000,103,'ERS','MAO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11003,'DADAR - SAWANTWADI RD Rajya Rani Exp',1000,60,'DR','SWV');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11004,'SAWANTWADI RD - DADAR Rajya Rani Exp',1000,60,'SWV','DR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11011,'Mahalaxmi Express',1000,95,'CSTM','KOP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11012,'Mahalaxmi Express',1000,95,'KOP','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11014,'Coimbatore Mumbai LTT Express',1000,196,'CBE','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11016,'Kushinagar Express',1000,215,'GKP','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11018,'Chalukya Express',1000,175,'YPR','DR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (15212,'AMRITSAR - DARBHANGA Jan Nayak Exp',1000,246,'ASR','DBG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56304,'Nagercoil Kottayam Passenger',1000,44,'NCJ','KTYM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11108,'Varanasi-Gwalior Bundelkhand Express',1000,67,'BSB','GWL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11109,'Jhansi-Lucknow Intercity Express',1000,38,'JHS','LKO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11110,'Lucknow-Jhansi InterCity',1000,38,'LKO','JHS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11123,'Barauni-Gwalior Mail',1000,145,'BJU','GWL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11124,'Gwalior Barauni Mail',1000,145,'GWL','BJU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11125,'Indore Gwalior Express',1000,39,'INDB','GWL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11126,'Gwalior Indore Express',1000,39,'GWL','INDB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11067,'MUMBAI LTT - FAIZABAD Saket Exp',1000,202,'LTT','FD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11068,'FAIZABAD - MUMBAI LTT Saket Exp',1000,200,'FD','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11071,'Kamayani Express',1000,199,'LTT','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11072,'Kamayani Express',1000,199,'BSB','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11077,'Jhelum Express',1000,275,'PUNE','JAT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11078,'Jhelum Express',1000,273,'JAT','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11087,'Veraval Pune Express',1000,167,'VRL','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11088,'Pune Veraval Express',1000,167,'PUNE','VRL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11089,'BHAGAT KI KOTHI - PUNE Exp',1000,201,'BGKT','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11090,'PUNE - BHAGAT KI KOTHI Exp',1000,201,'PUNE','BGKT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11091,'BHUJ - PUNE Ahimsa Exp',1000,171,'BHUJ','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11092,'PUNE - BHUJ Ahimsa Exp',1000,171,'PUNE','BHUJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11093,'MUMBAI CST - VARANASI Mahanagari Exp',1000,210,'CSTM','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11094,'VARANASI - MUMBAI CST Mahanagari Exp',1000,202,'BSB','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11095,'Ahimsa Express',1000,113,'ADI','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11096,'Ahimsa Express',1000,113,'PUNE','ADI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11266,'AMBIKAPUR - JABALPUR Exp',1000,49,'ABKP','JBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11401,'Nandigram Express',1000,124,'CSTM','NGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11402,'Nandigram Express',1000,124,'NGP','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11403,'NAGPUR - KOLHAPUR EXP',1000,127,'NGP','KOP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11404,'KOLHAPUR - NAGPUR EXP',1000,127,'KOP','NGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11423,'Solapur - Hubli Express',1000,47,'SUR','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11424,'Hubli Jn - Solapur Express',1000,47,'UBL','SUR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11447,'JABALPUR - KOL HOWRAH Shaktipunj Exp',1000,203,'JBP','HWH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11448,'HOWRAH - JABALPUR Shaktipunj Exp',1000,203,'HWH','JBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11449,'JABALPUR - SHRI MATA VAISHNO DEVI KATRA Express',1000,227,'JBP','SVDK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11450,'SHRI MATA VAISHNO DEVI KATRA - JABALPUR Express',1000,227,'SVDK','JBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11463,'Somnath-Jabalpur Express',1000,179,'SMNH','JBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11464,'Jabalpur-Somnath Express',1000,179,'JBP','SMNH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12003,'Lucknow-NewDelhi Swarn Shatabdi Express',1000,74,'LKO','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12020,'Ranchi-Howrah Shatabdi Express',1000,80,'RNC','HWH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12021,'Barbil Janshatabdi',1000,69,'HWH','BBN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12022,'Barbil Howrah Janshatabdi',1000,69,'BBN','HWH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12189,'JABALPUR - DELHI H NIZAMUDDIN Mahakoshal SF Exp',1000,114,'JBP','NZM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11465,'SOMNATH - JABALPUR Exp (via Bina)',1000,227,'SMNH','JBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11466,'JABALPUR - SOMNATH Exp (via Bina)',1000,228,'JBP','SMNH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11702,'INDORE - JABALPUR Intercity Exp',1000,89,'INDB','JBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12002,'New Delhi-Bhopal Shatabdi Express',1000,87,'NDLS','BPL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12004,'NewDelh-Lucknowi Swarn Shatabdi Express',1000,74,'NDLS','LKO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12005,'New Delhi-Kalka Shatabdi',1000,43,'NDLS','KLK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12006,'Kalka-New Delhi Shatabdi',1000,43,'KLK','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12008,'MYSORE - CHENNAI CENT Shatabdi Express',1000,98,'MYS','MAS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12009,'Mumbai-Ahmedabad Shatabdi Express',1000,99,'BCT','ADI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12010,'Ahmedabad-Mumbai Central Shatabdi',1000,99,'ADI','BCT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12011,'Kalka Shatabdi Express',1000,43,'NDLS','KLK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12012,'Kalka-New Delhi Shatabdi',1000,43,'KLK','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12013,'New Delhi-Amritsar Shatabdi Express',1000,69,'NDLS','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12014,'Amritsar-NewDelhi Shatabdi',1000,69,'ASR','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12015,'New Delhi-Ajmer Shatabdi',1000,71,'NDLS','AII');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12016,'Ajmer-New Delhi Shatabdi',1000,71,'AII','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12017,'New Delhi-Dehradun Shatabdi',1000,49,'NDLS','DDN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12018,'Dehradun-New Delhi Shatabdi',1000,49,'DDN','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12023,'Howrah-Patna Jan Shatabdi',1000,95,'HWH','PNBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12024,'Patna-Howrah Jan Shatabdi',1000,95,'PNBE','HWH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12025,'Pune-Secunderabad Shatabdi Express',1000,83,'PUNE','SC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12026,'Secunderabad-Pune Shatabdi',1000,83,'SC','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12028,'BANGALORE CITY - CHENNAI CENT Shatabdi Exp',1000,75,'SBC','MAS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12029,'New Delhi-Amritsar Swarna Shatabdi Express',1000,69,'NDLS','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12031,'Amritsar Shatabdi Express',1000,69,'NDLS','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12032,'Amritsar Shatabdi Express',1000,69,'ASR','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12033,'Kanpur Shatabdi',1000,61,'CNB','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12034,'New Delhi-Kanpur Shatabdi Express',1000,61,'NDLS','CNB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12037,'New Delhi-Ludhiana Shatabdi Express',1000,53,'NDLS','LDH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12038,'Ludhiana-New Delhi Shatabdi Express',1000,53,'LDH','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12051,'DADAR - MADGAON Jan Shatabdi Exp',1000,68,'DR','MAO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12052,'MADGAON - DADAR Jan Shatabdi Exp',1000,68,'MAO','DR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12053,'Haridwar Amritsar Jan Shatabdi Express',1000,60,'HW','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12054,'Amritsar Haridwar Jan Shatabdi',1000,60,'ASR','HW');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12055,'Dehradun Jan Shatabdi Express',1000,48,'NDLS','DDN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12059,'Kota-Hazrat Nizamuddin Jan Shatabdi',1000,56,'KOTA','NZM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12060,'Hazarat Nizamuddin-Kota Jan Shatabdi',1000,56,'NZM','KOTA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12067,'Guwahati Jorhat Jan Shatabdi',1000,51,'GHY','JTTN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12083,'Mayiladuturai-Coimbatore Jan Shatabdi',1000,66,'MV','CBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12107,'Mumbai LTT Lucknow Superfast Express',1000,175,'LTT','LJN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12108,'Lucknow Mumbai LTT Superfast Express',1000,175,'LJN','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12110,'Panchavati Express',1000,50,'MMR','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12118,'Manmad-Mumbai LTT Express',1000,39,'MMR','LTT');

INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (19321,'Indore-Rajendranagar Express',1000,183,'INDB','RJPB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13235,'Sahibganj-Danapur InterCity',1000,50,'SBG','DNR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13236,'Danapur-Sahibganj InterCity',1000,51,'DNR','SBG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13244,'Dehri On Sone Patna InterCity Express',1000,26,'DOS','PNBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13246,'Capital Express',1000,77,'DNR','NJP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13247,'GUWAHATI - RAJENDRA NAGAR Capital Exp',1000,157,'GHY','RJPB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13287,'DURG - RAJENDRA NAGAR South Bihar Exp',1000,191,'DURG','RJPB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13288,'RAJENDRA NAGAR BIHAR - DURG South Bihar Exp',1000,191,'RJPB','DURG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13304,'Dhanbad InterCity Express',1000,26,'RNC','DHN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13307,'Ganga Sutlej Express',1000,225,'DHN','FZR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13308,'Ganga Sutlej Express',1000,225,'FZR','DHN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13319,'Baidyanthdham-Ranchi Express',1000,49,'BDME','RNC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13320,'Ranchi-Baidyanathdham Express',1000,49,'RNC','BDME');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13329,'Ganga Damodar Express',1000,39,'DHN','PNBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13330,'Ganga Damodar Express',1000,39,'PNBE','DHN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13331,'Dhanbad Patna Express',1000,61,'DHN','PNBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13332,'Patna Dhanbad Express',1000,61,'PNBE','DHN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13345,'Varanasi-Singrauli Intercity',1000,21,'BSB','SGRL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13347,'Palamau Express',1000,63,'BRKA','PNBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13348,'Palamau Express',1000,63,'PNBE','BRKA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13352,'ALAPPUZHA - DHANBAD (Bokaro) Express',1000,420,'ALLP','DHN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13404,'Vananchal Express',1000,78,'BGP','RNC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13413,'Farakka Express',1000,199,'MLDT','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13414,'Farakka Express',1000,199,'DLI','MLDT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13415,'Malda Patna Express',1000,61,'MLDT','PNBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13416,'Patna-Malda Express',1000,61,'PNBE','MLDT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13419,'Jan Sewa Express',1000,36,'BGP','MFP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13421,'Nabadwipdham Malda Express',1000,52,'NDAE','MLDT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13422,'Malda Nabadwipdham Express',1000,52,'MLDT','NDAE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13465,'InterCity Express',1000,83,'HWH','MLDT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13466,'InterCity Express',1000,83,'MLDT','HWH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13483,'Farakka Express',1000,208,'MLDT','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13484,'Farakka Express',1000,208,'DLI','MLDT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13501,'Haldia-Asansol Express',1000,52,'HLZ','ASN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12259,'Sealdah-New Delhi AC Duronto Express',1000,221,'SDAH','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13346,'Singrauli-Varanasi Intercity',1000,21,'SGRL','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13502,'Asansol Haldia Express',1000,52,'ASN','HLZ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13506,'Asansol Digha Express',1000,51,'ASN','DGHA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13507,'Asansol-Gorakhpur Express',1000,93,'ASN','GKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13509,'Asansol-Gonda Express',1000,130,'ASN','GD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13510,'Gonda-Asansol Express',1000,130,'GD','ASN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14001,'OLD DELHI - ATARI SHYAM SINGH Samjhauta Exp',1000,76,'DLI','ATT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14002,'ATARI SHYAM SINGH - OLD DELHI Samjhauta Exp',1000,76,'ATT','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14004,'New Delhi-New Farakka Express',1000,208,'NDLS','NFK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14005,'Lichhavi Express',1000,190,'SMI','ANVT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14006,'Lichhavi Express',1000,190,'ANVT','SMI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14007,'Muzaffarpur-Old Delhi Sadbhavna Express',1000,160,'MFP','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14008,'Old Delhi-Muzaffarpur Sadbhavana Express',1000,160,'DLI','MFP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14011,'Kathgodam-Anand Vihar AC Express',1000,38,'KGM','ANVT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14012,'Anand Vihar-Kathgodam AC Express',1000,38,'ANVT','KGM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14013,'Sadbhavna Express',1000,90,'SLN','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14014,'Sadbhavna Express',1000,90,'DLI','SLN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14015,'Sadbhavna Express',1000,176,'RXL','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14016,'Sadbhavana Express',1000,176,'DLI','RXL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14017,'Sadbhavna Express',1000,169,'MFP','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14018,'Sadbhavana Expres',1000,169,'DLI','MFP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14020,'Delhi SR Chhindwara Kanhan Valley Express',1000,132,'DEE','CWA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14033,'Jammu Mail',1000,96,'DLI','UHP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14034,'Jammu Mail',1000,96,'UHP','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14035,'Dhauladhar Express',1000,81,'DLI','PTK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14036,'Dhauladhar Express',1000,81,'PTK','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14042,'DEHRADUN - DELHI SARAI ROHILLA Mussoorie Exp',1000,57,'DDN','DEE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14043,'KOTDWAR - OLD DELHI Garhwal Exp',1000,38,'KTW','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14044,'OLD DELHI - KOTDWAR Garhwal Exp',1000,38,'DLI','KTW');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14056,'OLD DELHI - DIBRUGARH Brahmaputra Exp',1000,440,'DLI','DBRG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14085,'Haryana Express',1000,38,'TKJ','SSA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14086,'Haryana Express',1000,38,'SSA','TKJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14095,'Himalayan Queen',1000,41,'DEE','KLK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14096,'Himalayan Queen',1000,41,'KLK','DEE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14109,'Chitrakoot Kanpur Express',1000,22,'CKTD','CNB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14110,'Kanpur Chitrakoot Express',1000,22,'CNB','CKTD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14114,'Link Express',1000,129,'DDN','ALD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12343,'Darjeeling Mail',1000,104,'SDAH','NJP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12483,'KOCHUVELI - AMRITSAR SF Exp',1000,487,'KCVL','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14119,'Kathgodam Dehradun Express',1000,43,'KGM','DDN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14120,'Dehradun Kathgodam Express',1000,43,'DDN','KGM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14123,'Pratapgarh Kanpur InterCity Express',1000,38,'PBH','CNB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14124,'Kanpur Pratapgarh InterCity Express',1000,38,'CNB','PBH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14126,'Saryu Express',1000,20,'FD','ALD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14163,'Sangam Express',1000,85,'ALD','MTC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14164,'Sangam Express',1000,85,'MTC','ALD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14203,'Varanasi Lucknow InterCity Express',1000,41,'BSB','LKO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14204,'Lucknow Varanasi InterCity Express',1000,41,'LKO','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14205,'Faizabad Delhi Express',1000,93,'FD','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14206,'Delhi-Faizabad Express',1000,93,'DLI','FD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14207,'Padmavat Express',1000,100,'PBH','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14208,'Padmavat Express',1000,100,'DLI','PBH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14213,'Varanasi-Gonda Intercity Express',1000,34,'BSB','GD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14214,'Gonda-Varanasi Intercity Express',1000,34,'GD','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14217,'Unchahar Express',1000,126,'ALD','CDG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14227,'Varuna Express',1000,36,'BSB','LKO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14228,'Varuna Express',1000,36,'LKO','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14235,'Varanasi Bareilly Express',1000,78,'BSB','BE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14236,'Bareilly Varanasi Express',1000,78,'BE','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14257,'Kashi Vishwanath Express',1000,119,'BSB','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14258,'Kashi Vishwanath Express',1000,119,'NDLS','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14265,'Varanasi Dehradun Janata Express',1000,120,'BSB','DDN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14266,'Dehradun Varanasi Janata Express',1000,120,'DDN','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14307,'Bareilly Express',1000,65,'PRG','BE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14308,'Bareilly-Prayag Passenger',1000,65,'BE','PRG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14309,'Ujjaini Express',1000,144,'UJN','DDN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14310,'Ujjaini Express',1000,144,'DDN','UJN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14311,'BAREILLY - BHUJ Ala Hazrat Exp',1000,251,'BE','BHUJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14314,'BAREILLY - MUMBAI LTT Weekly Exp',1000,233,'BE','LTT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14315,'Bareilly-NewDelhi InterCity',1000,46,'BE','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14316,'NewDelhi-Bareilly InterCity',1000,46,'NDLS','BE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14317,'INDORE - DEHRADUN Exp',1000,150,'INDB','DDN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14318,'DEHRADUN - INDORE Exp',1000,150,'DDN','INDB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14321,'BAREILLY - BHUJ Ala Hazrat Exp',1000,213,'BE','BHUJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14322,'BHUJ - BAREILLY Ala Hazrat Exp',1000,213,'BHUJ','BE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14369,'Tribeni Express',1000,91,'SGRL','BE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14370,'Triveni Express',1000,91,'BE','SGRL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14512,'Saharanpur-Allahabad Nauchandi Express',1000,111,'SRE','ALD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14519,'Kissan Express',1000,41,'DLI','BTI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14520,'Kisan Express',1000,41,'BTI','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14524,'Harihar Express',1000,175,'UMB','MFP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14525,'Ambala Cantt-Shri GangaNagar InterCity Express',1000,43,'UMB','SGNR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14526,'Shri Ganganagar-Ambala Cantt InterCity Express',1000,43,'SGNR','UMB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14545,'Farukhnagar Saharanpur Express',1000,47,'FN','SRE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14546,'Saharanpur Farukhnagar Express',1000,47,'SRE','FN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14553,'Himachal Express',1000,56,'DLI','UHL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14554,'Himachal Express',1000,56,'UHL','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14555,'Bareilly-Delhi Express',1000,45,'BE','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14556,'Delhi-Bareilly Express',1000,46,'DLI','BE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14603,'SAHARSA - AMRITSAR Jan Sadharan Exp',1000,261,'SHC','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14609,'Hemkunt Express',1000,83,'RKSH','JAT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14610,'Hemkunt Express',1000,83,'JAT','RKSH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14631,'Dehradun Amritsar Express',1000,66,'DDN','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14632,'Amritsar Dehradun Express',1000,66,'ASR','DDN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14645,'Shalimar Express',1000,90,'DLI','JAT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14646,'Shalimar Express',1000,90,'JAT','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14650,'Saryu Yamuna Express',1000,241,'ASR','JYG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14660,'Jaisalmer Delhi Express',1000,113,'JSM','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14661,'Delhi Barmer Link Express',1000,24,'JU','BME');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14662,'Barmer-Delhi MALANI Express',1000,113,'BME','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14673,'Shaheed Express',1000,248,'JYG','ASR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14674,'Shaheed Express',1000,248,'ASR','JYG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14681,'New Delhi-Jalandhar Express',1000,63,'NDLS','JUC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14682,'Jalandhar NDLS Express',1000,63,'JUC','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14703,'Bikaner Express',1000,20,'JSM','LGH');

INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22836,'Puri-Shalimar weekly superfast express',1000,100,'PURI','SHM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22845,'PUNE - HATIA SF Exp',1000,236,'PUNE','HTE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22846,'HATIA - PUNE SF Exp',1000,236,'HTE','PUNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22855,'Santragachi-Tirupati Superfast Express',1000,259,'SRC','TPTY');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22856,'TirupatiSantragachi Superfast Express',1000,259,'TPTY','SRC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18310,'Nagavali Express',1000,200,'NED','SBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22403,'Puducherry-New Delhi SF Express',1000,321,'PDY','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22405,'Bhagalpur - Delhi AnandVihar T. Garib Rath Express',1000,175,'BGP','ANVT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22407,'Varanasi-Delhi Anand Vihar Terminus Garib Rath',1000,115,'BSB','ANVT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22408,'Delhi Anand Vihar Terminus-Varanasi Garib Rath',1000,115,'ANVT','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22409,'Sasaram-Anand ViharT Delhi GariRath Express',1000,120,'SSM','ANVT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22423,'Guwahati-New Delhi Rajdhani Express',1000,263,'GHY','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22481,'Jodhpur-Delhi Sarai Rohilla Express',1000,63,'JU','DEE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22482,'Delhi Sarai Rohilla-Jodhpur Express',1000,63,'DEE','JU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22609,'Mangalore - Palghat Intercity Express',1000,64,'MAQ','PGT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22610,'Palghat Mangalore Intercity',1000,64,'PGT','MAQ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22815,'Bilaspur-Ernakulam Express',1000,285,'BSP','ERS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22816,'Ernakulam-Bilaspur Express',1000,285,'ERS','BSP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22853,'Kolkata Shalimar-Visakhapatnam Superfast express',1000,149,'SHM','VSKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22854,'Visakhapatnam-Shalimar Express',1000,149,'VSKP','SHM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22861,'Rajya Rani Express',1000,46,'SHM','BQA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22862,'Rajya Rani Express',1000,46,'BQA','SHM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (15657,'KOLKATA SEALDAH - GUWAHATI KanchanJungha Exp',1000,174,'SDAH','GHY');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18304,'PURI - SAMBALPUR Intercity Exp',1000,51,'PURI','SBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18312,'VARANASI - SAMBALPUR Exp',1000,134,'BSB','SBP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12665,'HOWRAH - KANNIYAKUMARI SF Exp',1000,420,'HWH','CAPE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12778,'TRIVANDRUM KOCHUVELI - HUBLI SF Exp',1000,202,'KCVL','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14707,'BIKANER - MUMBAI BANDRA Ranakpur Exp',1000,201,'BKN','BDTS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (16352,'NAGERCOIL - MUMBAI CST Balaji Exp',1000,299,'NCJ','CSTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (16723,'CHENNAI EGMORE - TRIVANDRUM Anantapuri Exp',1000,133,'MS','TVC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12952,'Mumbai Rajdhani Express',1000,202,'NDLS','BCT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22404,'New Delhi-Puducherry SF Exp',1000,321,'NDLS','PDY');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12393,'Sampoorna Kranti Express',1000,142,'RJPB','NDLS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (15235,'Howrah-Darbhanga Express',1000,92,'HWH','DBG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18612,'Varanasi-Ranchi Express',1000,72,'BSB','RNC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (19303,'InterCity Express',1000,37,'RTM','BPL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12434,'Delhi H.Nizamuddin-Chennai Central Rajdhani Expres',1000,269,'NZM','MAS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12368,'Vikramshila Express',1000,174,'ANVT','BGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14055,'DIBRUGARH - OLD DELHI Brahmaputra Exp',1000,440,'DBRG','DLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (15959,'HOWRAH - DIBRUGARH Kamrup Exp',1000,270,'HWH','DBRG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (16311,'BIKANER - KOCHUVELI Express',1000,387,'BKN','KCVL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18005,'HOWRAH - JAGDALPUR Samaleshwari Exp',1000,157,'HWH','JDB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18508,'AMRITSAR - VISAKHAPATNAM Hirakud Exp',1000,355,'ASR','VSKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18047,'HOWRAH - VASCO DA GAMA Amravati Exp',1000,340,'HWH','VSG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (13071,'Jamalpur Express',1000,78,'HWH','JMP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18235,'Bilaspur Express Cum Passenger',1000,81,'BPL','BSP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18409,'Sri Jagannath Express',1000,102,'HWH','PURI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (18645,'East Coast Express',1000,259,'HWH','HYB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11055,'MUMBAI LTT - GORAKHPUR Exp',1000,235,'LTT','GKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (11107,'Gwalior-Varanasi Bundelkhand Express',1000,67,'GWL','BSB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (15270,'AHMEDABAD - MUZAFFARPUR Jan Sadharan Exp',1000,285,'ADI','MFP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12285,'Secunderabad- Hazrat Nizamuddin Duronto Express',1000,186,'SC','NZM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (12918,'Gujarat Sampark Kranti Express',1000,138,'NZM','ADI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (17002,'Secunderabad Sainagar Shirdi Express',1000,84,'SC','SNSI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (22111,'Bhusaval Nagpur (Triweekly) Express',1000,68,'BSL','NGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14313,'MUMBAI LTT - BAREILLY Weekly Exp',1000,233,'LTT','BE');

INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56241,'Salem Yesvantpur passenger',1000,23,'SA','YPR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56242,'Yesvantpur Salem passenger',1000,23,'YPR','SA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56262,'BANGALORE - ARAKKONAM Passenger',1000,39,'SBC','AJJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56269,'Shimoga Mysore Passenger',1000,21,'SMET','MYS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56270,'Mysore Shimoga Passenger',1000,21,'MYS','SMET');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56273,'Arsikere Hubli Passenger',1000,35,'ASK','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56274,'Hubli Arsikere Passenger',1000,35,'UBL','ASK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56319,'Nagercoil Coimbatore Passenger',1000,60,'NCJ','CBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56323,'Coimbatore Mangalore Fast Passenger',1000,70,'CBE','MAQ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56324,'Coimbatore Fast Passenger',1000,70,'MAQ','CBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56503,'Yesvantapur-Vijayawada Passenger',1000,79,'YPR','BZA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56504,'Vijayawada Yesvantapur Passenger',1000,79,'BZA','YPR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56515,'BANGALORE CITY - HUBLI Pass',1000,66,'SBC','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56516,'HUBLI - BANGALORE CY Passenger',1000,63,'UBL','SBC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56501,'Vijayawada Hubli Passenger',1000,80,'BZA','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56502,'Hubli Vijayawada Passenger',1000,80,'UBL','BZA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56513,'Salem Bangalore passenger',1000,22,'SA','SBC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56514,'Bangalore Salem Passenger',1000,22,'SBC','SA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56640,'Mangalore-Verna Passenger',1000,31,'MAQ','VEN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56641,'Verna Mangalore Passenger',1000,31,'VEN','MAQ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56651,'Coimbatore Kannur Fast Passenger',1000,48,'CBE','CAN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56700,'Madurai-Kollam Passenger',1000,55,'MDU','QLN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56701,'Madurai Passenger',1000,55,'QLN','MDU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56603,'Thrissur Kannur Passenger',1000,41,'TCR','CAN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56650,'Kannur Coimbatore Fast Passenger',1000,48,'CAN','CBE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56654,'Kozhikode Passenger',1000,42,'MAQ','CLT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56821,'MAYILADUTURAI  - DINDIGUL PASSENGER',1000,19,'MV','DG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56826,'Tirnunelveli Erode Passenger',1000,36,'TEN','ED');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56829,'Tiruchchirapalli Rameswaram Passenger',1000,32,'TPJ','RMM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (14523,'Harihar Express',1000,175,'MFP','UMB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56705,'VILLUPURAM  - MADURAI PASSENGER',1000,43,'VM','MDU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56706,'MADURAI - VILLUPURAM PASSENGER',1000,43,'MDU','VM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56822,'DINDIGUL - MAYILADUTURAI PASSENGER',1000,19,'DG','MV');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56830,'Rameswaram Trichy Passenger',1000,32,'RMM','TPJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56904,'Dharwar Solapur Passenger',1000,51,'DWR','SUR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56909,'Bangalore Hospet Passenger',1000,63,'SBC','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56910,'Bangalore Passenger',1000,64,'HPT','SBC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56913,'Bangalore Hubli Fast Passenger',1000,63,'SBC','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (56914,'Hubli Bangalore passenger',1000,63,'UBL','SBC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57129,'Bijapur-Bolarum Passenger',1000,74,'BJP','BMO');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57130,'Hyderabad Bijapur Passenger',1000,65,'HYB','BJP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57133,'Bijapur Raichur Passenger',1000,44,'BJP','RC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57134,'Raichur Bijapur Passenger',1000,44,'RC','BJP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57156,'Hyderabad Gulbarga Passenger',1000,37,'HYB','GR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57121,'Kazipet Balharshah Passenger',1000,26,'KZJ','BPQ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57124,'Balharshah Bhadrachalam Passenger',1000,44,'BPQ','BDCR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57135,'Nagpur Kazipet Passenger',1000,49,'NGP','KZJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57136,'Kazipet Nagpur Passenger',1000,49,'KZJ','NGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57155,'Gulbarga-Hyderabad Passenger',1000,33,'WADI','HYB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57225,'Vijayawada Visakhapatnam Passenger',1000,60,'BZA','VSKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57226,'Visakhapatnam Vijayawada Passenger',1000,59,'VSKP','BZA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57229,'Machilipatnam Visakhapatnam Fast Passenger',1000,69,'MTM','VSKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57230,'Visakhapatnam Machilipatnam Fast Passenger',1000,69,'VSKP','MTM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57231,'Vijayawada Kakinada Port Fast Passenger',1000,42,'BZA','COA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57232,'Kakinada Port Vijayawada Passenger',1000,42,'COA','BZA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57240,'Bitragunta Chennai Passenger',1000,37,'BTTR','MAS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57241,'Bitragunta Vijayawada Passenger',1000,36,'BTTR','BZA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57242,'Vijayawada bitragunta Passenger',1000,36,'BZA','BTTR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57257,'Tirupati Kakinada Port Passenger',1000,99,'TPTY','COA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57258,'Kakinada Port Tirupati Passenger',1000,99,'COA','TPTY');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57271,'Rayagada Passenger',1000,84,'BZA','RGDA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57272,'Rayagada Vijayawada Passenger',1000,84,'RGDA','BZA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57274,'Tirupati Hubli InterCity Passenger',1000,69,'TPTY','UBL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57278,'Vijayawada Bitragunta Passenger',1000,36,'BZA','BTTR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57547,'Hyderabad Purna Passenger',1000,54,'HYB','PAU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57237,'Kazipet Vijayawada Passenger',1000,28,'KZJ','BZA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57238,'Vijaywada Kazipet Passenger',1000,28,'BZA','KZJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57273,'Hubli Tirupati InterCity Passenger',1000,69,'UBL','TPTY');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57305,'Kacheguda Guntur Fast Passenger',1000,76,'KCG','GNT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57306,'Guntur Secunderabad Passenger',1000,81,'GNT','SC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57327,'Dronachellam Guntur Passenger',1000,36,'DHNE','GNT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57328,'Guntur Dhone Passenger',1000,36,'GNT','DHNE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57426,'Gunatkal Secunderabad Passenger',1000,54,'GTL','SC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57474,'Bodhan Mahbubnagar Passenger',1000,59,'BDHN','MBNR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57475,'Tirupati Guntakal Passenger',1000,35,'TPTY','GTL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57476,'Guntakal Tirupati Passenger',1000,35,'GTL','TPTY');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57516,'Nanded-Daund Junction Passenger',1000,58,'NED','DD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57539,'Akola Parli Vaijnath Passenger',1000,32,'AK','PRLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57540,'Akola Passenger',1000,32,'PRLI','AK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57541,'Nagarsol Nanded Passenger',1000,34,'NSL','NED');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57542,'Nanded Manmad Passenger',1000,35,'NED','MMR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57561,'Kacheguda Manmad Passenger',1000,86,'KCG','MMR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57581,'Akola Purna Passenger',1000,22,'AK','PAU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57583,'Akola Purna Passenger',1000,22,'AK','PAU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57451,'Chikjajur Guntakal Passenger',1000,24,'JRU','GTL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57548,'Purna Hyderabad Passenger',1000,54,'PAU','HYB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57549,'Hyderabad Aurangabad Passenger',1000,69,'HYB','AWB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57550,'Aurangabad-Hyderabad Passenger',1000,69,'AWB','HYB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57551,'Purna Adilabad Passenger',1000,24,'PAU','ADB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57552,'Adilabad Purna Passenger',1000,24,'ADB','PAU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57553,'Parli Vaijnath Adilabad Passenger',1000,34,'PRLI','ADB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57554,'Adilabad Parli Vaijnath Passenger',1000,34,'ADB','PRLI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57563,'Hyderabad-Parbhani PASS',1000,62,'HYB','PBN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57564,'Nanded Hyderabad Passenger',1000,55,'NED','HYB');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57582,'Purna Akola Passenger',1000,22,'PAU','AK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57625,'Kakatiya Fast Passenger',1000,36,'SC','MUGR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57626,'Kakatiya Fast Passenger',1000,36,'MUGR','SC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57642,'GADAG - SOLAPUR PASSENGER',1000,22,'GDG','SUR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57651,'Secunderabad Repalle Passenger',1000,43,'SC','RAL');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57652,'Repalle Secunderabad Passenger',1000,43,'RAL','SC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57657,'Manuguru Kazipet Passenger',1000,22,'MUGR','KZJ');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57658,'Kazipet Manuguru Passenger',1000,22,'KZJ','MUGR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57660,'Falaknuma Gulbarga Passenger',1000,46,'FM','GR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58001,'Howrah Puri Santragachi Passenger',1000,109,'HWH','PURI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58003,'Howrah Bhadrak Passenger',1000,61,'HWH','BHC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58005,'Kharagpur Khurda Fast Passenger',1000,60,'KGP','KUR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58006,'Kurdha road Kharagpur passenger',1000,60,'KUR','KGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58011,'Howrah Chakradharpur Passenger',1000,76,'HWH','CKP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58012,'Chakradharpur Howrah Passenger',1000,76,'CKP','HWH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58015,'Howrah Adra MEMU Passenger',1000,55,'HWH','ADRA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58016,'Adra Howrah Passenger',1000,55,'ADRA','HWH');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57584,'Purna Akola Passenger',1000,22,'PAU','AK');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57659,'Sholapur Falaknuma Passenger',1000,60,'SUR','FM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58002,'Puri Santargachi Passenger',1000,104,'PURI','SRC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58009,'Kharagpur Jajpur Keonjhar Road Passenger',1000,37,'KGP','JJKR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58010,'Chakradharpur Adra Passenger',1000,37,'JJKR','KGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58017,'Kharagpur Asansol Passenger',1000,31,'KGP','ASN');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58018,'Asansol Adra Kharagpur Passenger',1000,31,'ASN','KGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58025,'Kharagpur-Hatia Passenger',1000,45,'KGP','HTE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58026,'Hatia Kharagpur Passenger',1000,44,'HTE','KGP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58111,'TATANAGAR - ITWARI Passenger',1000,119,'TATA','ITR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58112,'ITWARI - TATANAGAR Passenger',1000,110,'ITR','TATA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58113,'TATA BSP PASS',1000,68,'TATA','BSP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58114,'BSP TATA PASSENGER',1000,70,'BSP','TATA');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58162,'JHARSUGUDA - HATIA Passenger (UnReserved)',1000,41,'JSG','HTE');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58203,'Gevra Raipur Passenger',1000,29,'GAD','R');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58204,'Raipur Gevra Road Passenger',1000,29,'R','GAD');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58205,'RAIPUR ITWARI PASS',1000,41,'R','ITR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58206,'ITWARI RAIPUR MEMU Pass',1000,41,'ITR','R');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58208,'Khariar Raipur Passenger',1000,20,'KSNG','R');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58117,'Jharsuguda Gondia Passenger',1000,64,'JSG','G');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58118,'Gondia Jharsuguda Passenger',1000,64,'G','JSG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58131,'Rourkela-Puri Passenger',1000,80,'ROU','PURI');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58132,'Puri Rourkela Passenger',1000,80,'PURI','ROU');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58213,'Jharsuguda Bilaspur Passenger',1000,26,'JSG','BSP');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58214,'Bilaspur Jharsuguda Passenger',1000,26,'BSP','JSG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58217,'Titlagarh Raipur Passenger',1000,19,'TIG','R');

INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57123,'Bhadrachalam Sirpur Kagaznagar Passenger',1000,39,'BDCR','SRUR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57593,'Kacheguda Nanded Passenger',1000,52,'KCG','NED');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (57632,'Guntakal Gulbarga Passenger',1000,29,'GTL','GR');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58801,'Ballarshar Gondia Passenger(Via Nagbhir )',1000,21,'BPQ','G');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58207,'Raipur Kesinga Passenger',1000,20,'R','KSNG');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (59442,'Ahmedabad Mumbai Central Passenger',1000,99,'ADI','BCT');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58803,'Chanda Fort Gondia Passenger',1000,17,'CAF','G');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58219,'Bilaspur Chirmiri Passenger',1000,29,'BSP','CHRM');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (58425,'Kendujhargarh-Bhubaneswar Fast Passenger',1000,32,'KDJR','BBS');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (59832,'Kota Vadodara Passenger',1000,64,'KOTA','BRC');
INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES (59050,'Viramgam Valsad Passenger',1000,73,'VG','BL');

In [4]:
len(Accepted_trains)

3474

In [6]:
with open("trainload.sql","w") as f:
    for i in range(len(train['features'])):
        if(train['features'][i]['properties']['number'] in Accepted_trains):
        
            f.write("INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES ({},'{}',{},{},'{}','{}');".format(train['features'][i]['properties']['number'],train['features'][i]['properties']['name'],1000,len(train['features'][i]['geometry']['coordinates']),train['features'][i]['properties']['from_station_code'],train['features'][i]['properties']['to_station_code']))

In [35]:
x=pd.read_csv('../data/train.csv')

C:\Users\mohit\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,2,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [28]:
x=x.drop('Departure Time',axis=1)
x=x.drop('Arrival time',axis=1)
x=x.drop('Station Code',axis=1)
x=x.drop('Source Station Name',axis=1)
x=x.drop('Destination Station Name',axis=1)
x=x.drop('SEQ',axis=1)
x=x.drop('Distance',axis=1)
x=x.drop('Station Name',axis=1)

In [30]:
x=x.drop_duplicates()

In [31]:
x

       Train No    Train Name Source Station Destination Station
0           107  SWV-MAO-VLNK            SWV                 MAO
4           108  VLNK-MAO-SWV            MAO                 SWV
8           128  MAO-KOP SPEC            MAO                 KOP
30          290  PALACE ON WH            DSJ                 DSJ
44          401  BSB BHARATDA            AWB                 BSB
...         ...           ...            ...                 ...
186065    99904  PUNE-TGN EMU           PUNE                 TGN
186077    99905           EMU            TGN                SVJR
186088    99906           EMU           PUNE                 TGN
186100    99907           EMU            TGN                PUNE
186112    99908           EMU           PUNE                 TGN

[11124 rows x 4 columns]

In [34]:
with open("trainload.sql","w") as f:
    for i in x.iterrows():
        if(i[1]['Train No'] in Accepted_trains):
            f.write("INSERT INTO train(train_no,train_name,capacity,num_stations,source_id,dest_id) VALUES ({},'{}',{},{},'{}','{}');\n".format(i[1]['Train No'],i[1]['Train Name'],1000,L[i[1]['Train No']],i[1]['Source Station'],i[1]['Destination Station']))

In [10]:
for i in x.iterrows():
    print(i)
    break

(0, Train No                                107
Train Name                     SWV-MAO-VLNK
SEQ                                       1
Station Code                            SWV
Station Name                   SAWANTWADI R
Arrival time                       00:00:00
Departure Time                     10:25:00
Distance                                  0
Source Station                          SWV
Source Station Name         SAWANTWADI ROAD
Destination Station                     MAO
Destination Station Name        MADGOAN JN.
Name: 0, dtype: object)

In [11]:
def f(p):
    global x
    return len(x[x["Train No"]==p])
x["num_station"] = x["Train No"].apply(f)

KeyboardInterrupt:

In [15]:
L=x['Train No'].value_counts()

In [13]:
x['Train No'].value_counts()['107']

4

In [19]:
x.drop()

KeyError: ('Train No', 'Train Name')

In [37]:
A=x['Station Code'].unique()

In [38]:
import json

text_file = open("stations.json", "r")
data = text_file.read()
text_file.close()
data  = json.loads(data)
B=[]

for i in range(len(data['features'])):
    B.append(data['features'][i]['properties']['code'])

In [41]:
g=0
for i in A:
    if(i not in B):
        g+=1

In [43]:
x

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,10:25:00,0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,11:08:00,32,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,11:28:00,11:30:00,49,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,12:10:00,00:00:00,78,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,00:00:00,20:30:00,0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD
...,...,...,...,...,...,...,...,...,...,...,...,...
186119,99908,EMU,8,AKRD,AKURDI,23:30:00,23:31:00,19,PUNE,PUNE JN.,TGN,TALEGAON
186120,99908,EMU,9,DEHR,DEHU ROAD,23:35:00,23:36:00,24,PUNE,PUNE JN.,TGN,TALEGAON
186121,99908,EMU,10,BGWI,BEGDAEWAI,23:39:00,23:40:00,28,PUNE,PUNE JN.,TGN,TALEGAON
186122,99908,EMU,11,GRWD,GHORAWADI,23:41:00,23:42:00,31,PUNE,PUNE JN.,TGN,TALEGAON
186123,99908,EMU,12,TGN,TALEGAON,23:50:00,00:00:00,34,PUNE,PUNE JN.,TGN,TALEGAON

In [46]:
def fg(x):
    global B
    if(x not in B):
        return False
x['new']=x['Station Code'].map(fg)

In [47]:
len(x[x['new']==False])

5850

In [48]:
f=x[x['new']==False]

In [51]:
len(f['Train No'].unique())

2095

In [52]:
g

471